[submodule "OCA/project"]
	path = OCA/project
	url = git@github.com:OCA/project.git
	branch = 14.0

[submodule "OCA/timesheet"]
	path = OCA/timesheet
	url = git@github.com:OCA/timesheet.git
	branch = 14.0

[submodule "OCA/web"]
	path = OCA/web
	url = git@github.com:OCA/web.git
	branch = 6.1

[submodule "CybroOdoo/CybroAddons"]
	path = CybroOdoo/CybroAddons
	url = git@github.com:CybroOdoo/CybroAddons.git
	branch = 14.0

[submodule "OCA/server-tools"]
	path = OCA/server-tools
	url = git@github.com:OCA/server-tools.git
	branch = 14.0
